{% extends 'layout.twig' %}

{% block content %}
    <strong>Hello World</strong>
    <div class="button-list">
        <ul class="action-buttons-list">
            <li>
                <a href="/" class="btn btn-lg btn-create">Demo API</a>
            </li>
            <li>
                <a href="/" class="btn btn-lg btn-start-battle">Have Fun</a>
            </li>
            <li>
                <a href="/" class="btn btn-lg btn-scores">by yanniboi</a>
            </li>
        </ul>
    </div>
{% endblock %}
